* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --space: 'Space Grotesk', sans-serif;
}
body {
    font-family: var(--space);
    letter-spacing: 0.5px;
}
a {
    text-decoration: none;
    font-weight: 400;
    color: #212121;
}
.productList {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    column-gap: 10px;
    row-gap: 30px;
    padding: 120px 50px;
}
.product-container {
    max-width: 300px;
    position: relative;
}
.product-container > p {
    margin-top: 7px;
}
.product-images {
    width: 100%;
}
.product-images.img-2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.price {
    font-size: 14px;
}
.product-name {
    width:  fit-content;
    font-size: 12px;
    padding-bottom: 1px;
    border-bottom: 0.5px solid #21212100;
    transition: all 0.1s ease;
}
.product-container:hover .product-name {
    border-bottom: 0.5px solid #212121;
}
.product-container:hover .product-images.img-2 {
    display: inline;
}