* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --space: 'Space Grotesk', sans-serif;
    --h3: 2.25rem;

    --black: #212121;
    --grey: #a8a8a8;
    --lineColor: #dcdcdcac;
}
body {
    font-family: var(--space);
    letter-spacing: 0.5px;
}
a {
    text-decoration: none;
    font-weight: 400;
    color: var(--black);
}
.productList, .cart {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 50px 70px 50px;
}
.productList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    column-gap: 10px;
    row-gap: 30px;
}
.product-container {
    max-width: 300px;
    position: relative;
    overflow: hidden;
    min-height: 320px;
}
.product-info p {
    margin-top: 7px;
}
.product-images {
    width: 100%;
}
.product-images.img-2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: animation .5s ease;
    
}
.price {
    font-size: 14px;
}
.product-name {
    width:  fit-content;
    font-size: 12px;
    padding-bottom: 1px;
    border-bottom: 0.5px solid #21212100;
    transition: all 0.1s ease;
}
.product-container:hover .product-name {
    border-bottom: 0.5px solid var(--black);
}
.product-container:hover .product-images.img-2 {
    display: inline;
    animation: img2hover .5s both ease;
}
.product-info {
    padding: 7px 0;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 12px;
    left: 0;
    background-color: #ffffff;
    z-index: 3;
}
@keyframes img2hover {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(103%)
    }
}
.sectionHeader {
    text-align: center;
    padding: 50px 0 20px 0;
}
.sectionHeader h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 25px;
}
.sectionHeader p {
    font-weight: 300;
}
/* ------------------ */
/* Cart .your-cart */
/* ------------------ */
.your-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.your-cart h3 {
    font-size: var(--h3);
    font-weight: 300;
}
.your-cart a {
    font-size: 0.875rem;
    padding-bottom: 0.2px;
    border-bottom: 0.5px solid var(--black);
}
/* ------------------ */
/* Cart .cart-header */
/* ------------------ */
.cart-header {
    border-bottom: 0.5px solid var(--lineColor);
    display: grid;
    grid-template-columns: 4fr 3fr 1fr;
    padding: 20px 0;
}
.cart-header p {
    text-transform: uppercase;
    font-size: 0.625rem;
    color: var(--grey);
}
.total {
    text-align: right;
}